@use '../../styles/mixins/typography.module.scss' as typo;

.header {
    @include typo.header1Text;
}

.body p {
    @include typo.bodyParagraphText;
}

.inlineContainer {
    display: flex;
    gap: 10px;

    & > * {
        flex: 0 1 300px;
    }
}