@use '../constants/form-elements.module.scss' as cFE;

@mixin button($size: 'small') {
    // #todo come up with sizing

    display: inline-block;
    padding: cFE.$elem-padding-top cFE.$elem-padding-right
        cFE.$elem-padding-bottom cFE.$elem-padding-left;

    font-size: cFE.$elem-font-size;
    font-family: cFE.$elem-font-family;
    font-weight: cFE.$elem-font-weight;
    line-height: cFE.$elem-line-height;

    border-width: cFE.$elem-border-width;
    border-style: cFE.$elem-border-style;
    border-radius: cFE.$elem-border-radius;

    transition: color cFE.$elem-transition-duration,
        background-color cFE.$elem-transition-duration,
        border cFE.$elem-transition-duration,
        border-radius cFE.$elem-transition-duration;

    &:hover {
        border-width: cFE.$elem-hover-border-width;
        border-style: cFE.$elem-hover-border-style;
        border-radius: cFE.$elem-hover-border-radius;
    }

    &:disabled,
    &:disabled:hover {
        border-width: cFE.$elem-disabled-border-width;
        border-style: cFE.$elem-disabled-border-style;
        border-radius: cFE.$elem-disabled-border-radius;
    }
}

@mixin input($size: 'small') {
    // #todo come up with sizing

    display: inline-block;
    padding: cFE.$elem-padding-top cFE.$elem-padding-right
        cFE.$elem-padding-bottom cFE.$elem-padding-left;

    font-size: cFE.$elem-font-size;
    font-family: cFE.$elem-font-family;
    font-weight: cFE.$elem-font-weight;
    line-height: cFE.$elem-line-height;

    border-width: cFE.$elem-border-width;
    border-style: cFE.$elem-border-style;
    border-radius: cFE.$elem-border-radius;

    transition: color cFE.$elem-transition-duration,
        background-color cFE.$elem-transition-duration,
        border cFE.$elem-transition-duration,
        border-radius cFE.$elem-transition-duration;

    &:hover {
        border-width: cFE.$elem-hover-border-width;
        border-style: cFE.$elem-hover-border-style;
        border-radius: cFE.$elem-hover-border-radius;
    }

    &:disabled,
    &:disabled:hover {
        border-width: cFE.$elem-disabled-border-width;
        border-style: cFE.$elem-disabled-border-style;
        border-radius: cFE.$elem-disabled-border-radius;
    }
}

@mixin textarea($size: 'small') {
    // #todo come up with sizing

    display: inline-block;
    padding: cFE.$elem-padding-top cFE.$elem-padding-right
        cFE.$elem-padding-bottom cFE.$elem-padding-left;

    font-size: cFE.$elem-font-size;
    font-family: cFE.$elem-font-family;
    font-weight: cFE.$elem-font-weight;
    line-height: cFE.$elem-line-height;

    border-width: cFE.$elem-border-width;
    border-style: cFE.$elem-border-style;
    border-radius: cFE.$elem-border-radius;

    transition: color cFE.$elem-transition-duration,
        background-color cFE.$elem-transition-duration,
        border cFE.$elem-transition-duration,
        border-radius cFE.$elem-transition-duration;

    &:hover {
        border-width: cFE.$elem-hover-border-width;
        border-style: cFE.$elem-hover-border-style;
        border-radius: cFE.$elem-hover-border-radius;
    }

    &:disabled,
    &:disabled:hover {
        border-width: cFE.$elem-disabled-border-width;
        border-style: cFE.$elem-disabled-border-style;
        border-radius: cFE.$elem-disabled-border-radius;
    }
}